* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

:root {
  /*Primary Color*/
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  /*Accent Color*/
  --Blue: hsl(248, 32%, 49%);
  /*Neutral Color*/
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
}

body {
  background-image: url("./images/bg-intro-mobile.png");
  background-color: var(--Red);
}

/*H1 and text*/
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 4rem 1.5rem 0rem;
}

header > p {
  text-align: center;
  margin: 1.5rem 1.5rem 0rem;
}

/*7 days trial section*/
section {
  border-radius: 5px;
  margin: 3rem 1.5rem 0rem;
  padding: 1rem 3rem 1rem;
  background-color: var(--Blue);
  text-align: center;
  box-shadow: 0 8px 10px -3px hsl(0, 0%, 44%);
}

/*Sign Up*/
.sign-up {
  border-radius: 5px;
  margin: 1.5rem 1.5rem 0rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 10px -3px hsl(0, 0%, 44%);
}

form {
  margin: 0.5rem 1rem 0rem;
}

input {
  width: 100%;
  height: 2.5rem;
  margin: 1.5rem 0rem 0rem;
  padding-left: 1rem;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--GrayishBlue);
  color: var(--Blue);
  font-weight: 600;
  outline: 0;
}

input:focus {
  border-color: var(--Red);
}

small {
  text-align: end;
  font-size: 0.8rem;
  color:var(--Red);
  display: none;
}

.sign-up > button {
  height: 3rem;
  border-radius: 5px;
  border-style: none;
  margin: 1rem 1rem 0rem;
  background-color: var(--Green);
  transition-duration: 0.4s;
  outline: 0;
}

.sign-up > button:hover {
  background-color: hsl(154, 60%, 68%);
}

.sign-up > p {
  font-size: 0.8rem;
  color: var(--GrayishBlue);
  margin: 1rem 1rem 1rem;
}

.sign-up > p > a {
  font-size: 0.8rem;
  font-style: unset;
  font-weight: 600;
  color: var(--Red);
}

/*Footer*/
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 720px) {
  body {
    background-image: url(./images/bg-intro-desktop.png);
  }

  .container {
    height: 80vh;
    display: flex;
    flex-direction: row;
    margin: 2rem 2rem 2rem;
  }

  header {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  header > h1 {
    text-align: left;
    font-size: 2rem;
  }

  header > p {
    text-align: left;
  }

  .container > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  button {
    margin: 0 0.5rem 0.5rem;
  }

  .sign-up {
    padding: 1rem 1rem 1rem;
  }

  .sign-up > p {
    margin: 0.5rem 0.5rem 0rem;
  }

  .attribution {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: 85vh;
    margin: 2rem 8rem 2rem;
  }

  header > h1 {
    font-size: 2.5rem;
  }

  section {
    height: max-content;
    margin: 2rem 1.5rem 0rem;
  }

  .sign-up {
    padding: 1rem 1.5rem 1.5rem;
  }

  form {
    margin: 0rem 1rem 0;
  }
  .attribution {
    margin-top: 1rem;
  }
}
